
button{
    background-color: rgb(188, 154, 220);
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:15px;
    cursor:pointer;
}
form{
    border: 1px solid black;
    width:fit-content;
    border-radius: 10px;
}
input{
    padding:8px;
    border:1px solid #ccc;
    border-radius:4px;
    background-color: rgb(188, 154, 220);
    color:black;
}
select{
    background-color: rgb(188, 154, 220);
    color:black;
}
option{
    background-color: rgb(188, 154, 220);
    color:black;
}
label{
    background-color: rgb(188, 154, 220 );
}
.hidden{
    display:none;
}
form{
    margin:20px 0;
    background-color: rgb(188, 154, 220);

    
}
